.ContainerStyle{
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color:#EFE8D8;
    position: relative;
    z-index: 1;
    margin-top: 77px;
    padding: 5px 115px;
    border-radius: 10px;
    
   
    

}
.Header{
    display: flex;
    justify-content: space-between;
    

}
.Links{
    margin-left: 1000px;

}
.Body{
    display: flex;
    
    margin-top: 30px;
   
}
.Imgpos{
    display: block;

}
h1{
    font-family: "Playfair Display";
    font-size:40px ;
    font-size: 67.77px;
}
.Item{
    display: flex;
    align-items: center;
    margin-top: 20px;
    

}
.Item img{
    margin-left: 17px;
}
.Text{
 width: 635px;
}
.TwoDiv{
    margin-left: 127px;
}