.createMovieWriters {
  width: auto;
  margin: 2% 0%;
  margin-right: 2%;
  text-align: center;
  h3 {
    margin: 0px;
    padding: 0px 7px;
    font-size: 80%;
  }
  .h6 {
    padding: 0px;
    font-size: 70%;
    margin: 2% 0px;
  }
}
