.createMovieWriters {
  border: 2px solid black;
  width: auto;
  height: 60px;
  h3 {
    margin: 0px;
    padding: 0px 7px;
    font-size: 110%;
  }
  h5 {
    padding: 0px;
    font-size: 14px;
    margin: 7px 0px;
  }
}
