.ContainerStyle{
    width: 75%;
    background-color: #EFE8D8;
    position: relative;
    z-index: 1;
    margin-top: 77px;
    padding: 0px 70px;
    border-radius: 10px;
    margin-bottom: 35px;
}