.ContainerStyle{
    width: 80%;
    display: flex;
    justify-content: center;
    background-color:#EFE8D8;
    position: relative;
    z-index: 1;
    margin-top: 77px;
    padding: 5px 115px;
    border-radius: 10px;
    
}