.App{
    position: relative;
width: 1440px;
height: 805px;
background: #F9F7E8;
}
.sugestbut{
    position: absolute;
width: 348px;
height: 64px;
left: 165px;
top: 664px;
background: #E54B4B;
border-radius: 10px;
color:white;
border: rgb(248, 244, 193);
}