@import "../../../variables.scss";

.movieWriter {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: $font-femily;
  margin-top: 2%;
}
