@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.movieTitle{
    border: 2px black solid;
    width: auto;
    height: 80%;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 220%;
}