@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

.movieTitle {
  width: auto;
  height: 80%;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 220%;
}
.classification {
  color: red;
  margin-left: 3%;
  font-family: "Inter";
}
