$font-femily: Inter;
$font-style: Regular;
$movise-detalis-background-color: #efe8d8;
$movise-detalis-corner-radius: 10px;
$writer-block-director-width: 10px;
$writer-block-director-height: 20px;
$main-actors-block-child-width: 40px;
$main-actors-block-child-height: 30px;
$main-suggestion-button-color: #e54b4b;
$main-suggestion-button-text-color: rgb(255, 255, 255);
