$font-femily:Inter;
$font-style: Regular;
$movise-detalis-background-color:#EFE8D8;
$movise-detalis-corner-radius: 10px;
$writer-block-director-width:10px;
$writer-block-director-height:20px;
$main-actors-block-child-width:40px;
$main-actors-block-child-height:30px;
$main-suggestion-button-color:red;
$main-suggest-btn-hover-color: rgb(219, 96, 96);
$main-netflix-button-color:#61BFAD;
