@import "src/variables.scss";
.suggestBtn {
    cursor: pointer;
    width: 348px;
    height: 64px;
    margin-top:3%;
    background: $main-suggestion-button-color;
    border-radius: $movise-detalis-corner-radius;
    border: $movise-detalis-background-color;
    color: $movise-detalis-background-color;
}
.suggestBtn :hover {
    color: rgb(219, 96, 96);
}