.Header{
    margin-bottom: 48px;
    margin-top: 24px;
}
span{
    width:54px;
    height: 0px;
    border: 2px solid #61BFAD;
    display: block;
    margin-top: 7px;
}
.bigDiv{
    display: flex;
    justify-content: space-between;
}